@page "/customer"
@using OcsStore.Models
@model OcsStore.Pages.CustomersModel
@{
}
<style>
</style>

<div id="divCaption" class="d-flex align-items-center pb-3">
    <h5>KHÁCH HÀNG</h5>
    <div id="divButtons" class="text-end ms-auto">
        @(Html.DevExtreme().Button()
            .Text("Thêm KH mới")
            .Width(120)
            .Type(ButtonType.Default)
            .StylingMode(ButtonStylingMode.Contained)
            .Icon("add")
            .OnClick("addNew")
        )
    </div>
</div>

@(
Html.DevExtreme().DataGrid<CustomerView>()
    .ID("gridCustomers")
    .DataSource(d => d.Mvc().Controller("Sales").LoadAction("GetCustomerViews").LoadMethod("POST").Key("Id"))
    .RemoteOperations(false)
    .ShowBorders(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .Sorting(s => s.Mode(GridSortingMode.None))
    .Paging(p => p.PageSize(100))
    .Pager(p => p.Visible(false))
    .OnContentReady("gridContentReady")
    .Columns(columns =>
    {
        columns.AddFor(m => m.Id).Caption("#").Width(40).Alignment(HorizontalAlignment.Center);
        columns.AddFor(m => m.Name).Caption("Khách hàng").Width(100).Alignment(HorizontalAlignment.Left);
        columns.AddFor(m => m.Phone).Caption("Điện thoại").Width(100).Alignment(HorizontalAlignment.Left);
        columns.AddFor(m => m.Address).Caption("Địa chỉ").Width(150).Alignment(HorizontalAlignment.Left);
        columns.AddFor(m => m.Email).Caption("Email").Width(140).Alignment(HorizontalAlignment.Left);
        columns.AddFor(m => m.Note).Caption("Ghi chú").Width(140).Alignment(HorizontalAlignment.Left);
        columns.AddFor(m => m.Debt).Caption("Công nợ").Width(90).Alignment(HorizontalAlignment.Right).Fixed(true).FixedPosition(HorizontalEdge.Right).Format("#,##0");
    })
    .Editing(e => e.AllowUpdating(false))
    .Paging(p => p.Enabled(true).PageSize(100))
    .Summary(s => s
        .TotalItems(items =>
        {
            items.AddFor(m => m.Debt)
                 .SummaryType(SummaryType.Sum)
                 .DisplayFormat("{0}")
                 .ValueFormat("#,##0");
        })
    )
)

<script>
    $(function () {
        $("#gridCustomers").first().prepend($("#divCaption"));
    });

    function gridContentReady() {
        $(".dx-header-row > td").css("text-align", "center");
    }

    function addNew() {
        location.href = "customer/new";
    }

    function onCellPrepared(e) {
        if (e.rowType === 'group' && e.column.command === 'expand') {
            e.cellElement.css('display', 'none');
        }
    }
</script>