@page
@model OcsStore.Pages.DataManagementModel
@{
}
<style>
    #data-links > div {
        margin: 2rem;
        font-size: 1.2rem;
    }

    #data-links i.bi {
        margin-right: 0.9rem;
    }
</style>
<div id="data-links" style="width: 15rem; margin-left: auto; margin-right: auto">
    <div>
        <a href="/items?sourceurl=datamanagement"><i class="bi bi-boxes"></i>Hàng hóa</a>
    </div>
    <div>
        <a href="/units"><i class="bi bi-crop"></i>Đơn vị</a>
    </div>
    <div>
        <a href="/users"><i class="bi bi-people-fill"></i>Người dùng</a>
    </div>
    <div>
        <a href="/customers"><i class="bi bi-person-vcard-fill"></i>Khách hàng</a>
    </div>
</div>

<script>
    pageTitle =  "Quản lý dữ liệu";
</script>