@page
@using OcsStore.Models
@model OcsStore.Pages.ItemsModel
@{
}

<div id="top-section" class="pb-3">
    <ul id="groups-tab" class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link nav-link-green" aria-current="page" href="#" onclick="tabClicked(0);">Nhân xanh</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-brown" href="#" onclick="tabClicked(1);">Hạt rang</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-blue" href="#" onclick="tabClicked(2);">Cafe</a>
        </li>
    </ul>
</div>

@(Html.DevExtreme().DataGrid<ItemManagementView>()
    .ID("main-grid")
    .DataSource(d => d.Mvc().Controller("Item").LoadAction("GetItemManagementViews").LoadMethod("POST").LoadParams(new { GroupId = new JS("function() { return itemGroupId; }") }).OnLoaded("gridDataLoadedForUsedData"))
    .RemoteOperations(false)
    .ShowBorders(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .Sorting(s => s.Mode(GridSortingMode.None))
    .Paging(p => p.PageSize(100))
    .Pager(p => p.Visible(false))
    .OnContentReady("defaultOnGridContentReady")
    .OnRowPrepared("onRowPreparedInactive")
    .OnInitNewRow("onInitNewRow")
    .Columns(columns =>
    {
        columns.AddFor(m => m.Name).Caption("Tên").Width(120).Alignment(HorizontalAlignment.Left).Fixed(true).FixedPosition(HorizontalEdge.Left);
        columns.AddFor(m => m.Unit).Caption("Đơn vị").Width(70).Alignment(HorizontalAlignment.Left)
            .Lookup(lookup => lookup.DataSource(Model.Units).ValueExpr("Id").DisplayExpr("Name"));

        columns.AddFor(m => m.AllowSale).Caption("Hàng bán").Width(44);
        columns.AddFor(m => m.SalePrice).Caption("Giá bán").Width(64).Alignment(HorizontalAlignment.Right).Format("#,##0");
        columns.AddFor(m => m.Inactive).Caption("Không hiệu lực").Width(60);
        columns.Add().Name("Action").Width(36).Alignment(HorizontalAlignment.Center).Fixed(true).FixedPosition(HorizontalEdge.Right).CellTemplate(new JS("deleteActionCellTemplate"));
    })
    .Editing(e => e.AllowUpdating(true).Mode(GridEditMode.Batch).SelectTextOnEditStart(true).NewRowPosition(GridNewRowPosition.PageBottom))
    .OnEditorPreparing("defaultOnEditorPreparing")
    .RepaintChangesOnly(true)
)

<script>
    var itemGroupId = 1;
    pageTitle = "Hàng hóa";
    goBackUrl = "/@(Model.SourceUrl)";
    deleteUrl = '@Url.Action("Delete", "Item")';
    saveUrl = '@Url.Action("SaveItems", "Item")';

    $(function () {
        $("#main-grid").first().prepend($("#top-section"));
        appendAddButtonToGrid();
        appendUndoSaveButtonsToGrid();
        updateSelectedTab();
    });

    function tabClicked(tabIndex) {
        $(`#groups-tab > :nth-child(${itemGroupId}) .nav-link`).removeClass("active");
        itemGroupId = tabIndex + 1;
        reloadData();
        updateSelectedTab();
    }

    function updateSelectedTab() {
        $(`#groups-tab > :nth-child(${itemGroupId}) .nav-link`).addClass("active");
    }

    function onInitNewRow(e) {
        e.data.Id = 0;
        e.data.ItemGroup = itemGroupId;
        e.data.Unit = 1;
        e.data.UseLot = (itemGroupId == 2);
        e.data.AllowSale = (itemGroupId == 3);
        e.data.Inactive = false;
    }
</script>