@page "/receiving"
@using OcsStore.Models
@model OcsStore.Pages.ReceivingsModel
@{
}
<style>
</style>

<div id="divCaption" class="d-flex align-items-center pb-3">
    <div id="divButtons" class="text-end ms-auto">
        @(Html.DevExtreme().Button()
            .Text("Thêm")
            .Width(80)
            .Type(ButtonType.Default)
            .StylingMode(ButtonStylingMode.Contained)
            .Icon("add")
            .OnClick("addNew")
        )
    </div>
</div>

@(
Html.DevExtreme().DataGrid<ReceivingDetailView>()
    .ID("main-grid")
    .DataSource(d => d.Mvc().Controller("Receiving").LoadAction("GetReceivings").LoadMethod("POST").Key("Id"))
    .RemoteOperations(false)
    .ShowBorders(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .Sorting(s => s.Mode(GridSortingMode.None))
    .Paging(p => p.PageSize(100))
    .Pager(p => p.Visible(false))
    .OnContentReady("gridContentReady")
    .Columns(columns =>
    {
        columns.AddFor(m => m.Date).Caption("Ngày").Width(90).Alignment(HorizontalAlignment.Center).Format("dd/MM/yyyy").GroupIndex(0);
        columns.AddFor(m => m.Time).Caption("Giờ").Width(50).Alignment(HorizontalAlignment.Center).GroupIndex(1);
        columns.AddFor(m => m.ItemName).Caption("Hàng hóa").Width(110).Alignment(HorizontalAlignment.Left).CellTemplate(new JS("itemCellTemplate"));
        columns.AddFor(m => m.Quantity).Caption("Số lượng").Width(60).Alignment(HorizontalAlignment.Right).Format("#,##0.00");
        columns.AddFor(m => m.UnitName).Caption("").Width(40).Alignment(HorizontalAlignment.Left);
        columns.AddFor(m => m.Price).Caption("Giá").Width(70).Alignment(HorizontalAlignment.Right).Format("#,##0");
        columns.AddFor(m => m.Note).Caption("Ghi chú").Width(140).Alignment(HorizontalAlignment.Left);
        columns.AddFor(m => m.Value).Caption("Thành tiền").Width(90).Alignment(HorizontalAlignment.Right).Fixed(true).FixedPosition(HorizontalEdge.Right).Format("#,##0");
    })
    .Editing(e => e.AllowUpdating(false))
    .Paging(p => p.Enabled(true).PageSize(100))
    .Summary(s => s
        .TotalItems(items =>
        {
            items.AddFor(m => m.Value)
                 .SummaryType(SummaryType.Sum)
                 .DisplayFormat("{0}")
                 .ValueFormat("#,##0");
        })
    )
)

<script>
    pageTitle = "NHẬP KHO";

    $(function () {
        $("#main-grid").first().prepend($("#divCaption"));
    });

    function gridContentReady() {
        $(".dx-header-row > td").css("text-align", "center");
    }

    function itemCellTemplate(container, options) {
        container.html(`<span class='green me-2'>●</span>${options.text}`);
    }

    function addNew() {
        location.href = "receiving/new";
    }

    function onCellPrepared(e) {
        if (e.rowType === 'group' && e.column.command === 'expand') {
            e.cellElement.css('display', 'none');
        }
    }
</script>