@page "/stock"
@using OcsStore.Models
@model OcsStore.Pages.StockModel
@{
}
<style>
    #timeBox {
        margin-left: 0.5rem;
    }
    a.stock-link {
        padding-left: 0.1rem;
        padding-right: 0.2rem;
    }
    a.icon-link:hover {
        text-decoration: none;
    }
    .nav {
        border-bottom: solid 1px #ddd;
        margin-left: 4px;
        margin-right: 4px;
    }
/*     .nav-link {
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    } */
    a.nav-link, a.nav-link:hover, a.nav-link:visited {
        color: #666;
        text-decoration: none;
    }
    .nav-link.active {
        color: #333 !important;
        border-bottom: solid 1px #555;
    }

</style>

<div id="divCaption" class="pb-3">
    <ul id="groupTab" class="nav nav-fill">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" onclick="tabClicked(0);">Nhân xanh</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="tabClicked(1);">Hạt rang</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="tabClicked(2);">Cafe</a>
        </li>
    </ul>

    <div id="top-buttons" class="pt-3 text-end">
        @(Html.DevExtreme().Button()
            .Text("Tạo hàng hóa mới")
            .Width(160)
            .Type(ButtonType.Default)
            .StylingMode(ButtonStylingMode.Text)
            .Icon("add")
            .OnClick("addNewItem")
        )
    </div>
</div>

@(
Html.DevExtreme().DataGrid<StockView>()
    .ID("main-grid")
    .DataSource(d => d.Mvc().Controller("Stock").LoadAction("GetStocks").LoadMethod("POST").LoadParams(new { ItemGroupId = new JS("function() { return itemGroupId; }") }))
    .RemoteOperations(false)
    .ShowBorders(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .Sorting(s => s.Mode(GridSortingMode.None))
    .Paging(p => p.PageSize(100))
    .Pager(p => p.Visible(false))
    .OnContentReady("gridContentReady")
    .Columns(columns =>
    {
        @* columns.AddFor(m => m.GroupName).Caption("Nhóm").Width(140).GroupIndex(0).CellTemplate(new JS("stockCellTemplate")); *@
        @* columns.Add().Caption("").Width(30).Alignment(HorizontalAlignment.Center).FixedPosition(HorizontalEdge.Left).Fixed(true).CellTemplate(new JS("stockLinkCellTemplate")); *@
        columns.AddFor(m => m.ItemName).Caption("Hàng hóa").Width(120).Alignment(HorizontalAlignment.Left).Fixed(true).FixedPosition(HorizontalEdge.Left).CellTemplate(new JS("stockCellTemplate"));
        @* columns.AddFor(m => m.UnitName).Caption("").Width(40).Alignment(HorizontalAlignment.Left); *@
        
        columns.AddFor(m => m.Soh).Caption("Số lượng").Width(70).Alignment(HorizontalAlignment.Right).Format("#,##0.00").CellTemplate(new JS("stockCellTemplate"));
        columns.AddFor(m => m.Ave).Caption("Giá TB").Width(64).Alignment(HorizontalAlignment.Right).Format("#,##0").CellTemplate(new JS("stockCellTemplate"));
        columns.AddFor(m => m.Value).Caption("Giá trị").Width(86).Alignment(HorizontalAlignment.Right).Format("#,##0").CellTemplate(new JS("stockCellTemplate"));
        
        columns.AddFor(m => m.Date).Caption("Ngày").Width(90).Alignment(HorizontalAlignment.Center).Format("dd/MM/yyyy").CellTemplate(new JS("stockCellTemplate"));
        columns.AddFor(m => m.Time).Caption("Giờ").Width(50).Alignment(HorizontalAlignment.Center).CellTemplate(new JS("stockCellTemplate"));
        columns.Add().Name("Action").Width(36).Alignment(HorizontalAlignment.Center).Fixed(true).FixedPosition(HorizontalEdge.Right).CellTemplate(new JS("addDataCellTemplate"));
    })
    .Editing(e => e.AllowUpdating(false))
    .Paging(p => p.Enabled(true).PageSize(100))
    .Summary(s => s
        .CalculateCustomSummary("calculateCustomSummary")
        .TotalItems(items =>
        {
            items.Add().ShowInColumn("Value")
                .Name("ValueSummary")
                .SummaryType(SummaryType.Custom)
                .DisplayFormat("{0}")
                .ValueFormat("#,##0");
        })
    )
)

@(Html.DevExtreme().Popup()
    .ID("actions-popup")
    .Width(100)
    .Height(40)
    .Container("#main-grid")
    .Visible(false)
    .ShowTitle(false)
    .ShowCloseButton(false)
    .HideOnOutsideClick(true)
    .ContentTemplate(@<text>
        <div>Hello</div>
    </text>)
)

<script>
    var itemGroupId = @(Model.ItemGroupId);
    pageTitle = "Tồn kho";

    $(function () {
        $("#main-grid").first().prepend($("#divCaption"));
        updateSelectedTab();
    });

    function gridContentReady() {
        $(".dx-header-row > td").css("text-align", "center");
    }

    function onCellPrepared(e) {
        if (e.rowType === 'group' && e.column.command === 'expand') {
            e.cellElement.css('display', 'none');
        }
    }

    function tabClicked(tabIndex) {
        $(`#groupTab > :nth-child(${itemGroupId}) .nav-link`).removeClass("active");
        itemGroupId = tabIndex + 1;
        $("#main-grid").dxDataGrid("instance").refresh();
        updateSelectedTab();
    }

    function updateSelectedTab() {
        $(`#groupTab > :nth-child(${itemGroupId}) .nav-link`).addClass("active");
    }

    function stockCellTemplate(container, options) {
        let itemType = options.data.ItemType;
        let cssColor = cssColorForItemType(itemType);
        let cssClass = ""; // cssColorForItemType(itemType);
        let style = "";
        let text = options.text;
        let lot = options.data.Lot;
        if (lot != null && lot != "") {
            style = "color: #666"
        } else {
            style = "color: #333"
        }
        
        if (options.column.dataField == "ItemName") {
            let iconText = "";
            if (lot != null && lot != "") {
                cssClass += " ps-3";
                text = text + " " + lot;
            } else {
                iconText = `<span class='${cssColor} me-2'>●</span>`;
            }
            text = `${iconText}<a class='text-link' href='/stockcard?item=${options.data.Item}&lot=${options.data.Lot}&year=${options.data.Year}'><span style='${style}'>${text}</span></a>`;
        } else if (options.column.dataField == "Soh") {
            if (options.data.SohWarning) {
                // style = "color: var(--red)";
                text = `<div class='d-flex align-items-center'><div style='color: var(--red)'><i class="bi bi-exclamation-circle"></i></div><div style='margin-left:auto'>${text}</div></div>`;
            }
        }
        
        let html = `<div class='${cssClass}' style='${style}'>${text}</div>`
        container.html(html);
    }

    function addDataCellTemplate(container, options) {
        let lot = options.data.Lot;
        if (lot == null || lot == "") {
            let itemId = options.data.Item;
            let itemType = options.data.ItemType;
            let actionCount = (options.data.AllowSale && options.data.Soh > 0 ? 2 : 1);

            let popupItems =  [ { id: 1, text: (itemType == 1 ? "Nhập kho" : options.data.ProcessingName), icon: "add" } ];
            if (options.data.AllowSale && options.data.Soh > 0) {
                popupItems.push({ id: 2, text: "Bán hàng", icon: "bi bi-box-arrow-right" });
            }
            popupItems.push({ id: 3, text: "Sửa thông tin", icon: "edit" });

            let firstAction = (itemType == 1 ? 1 : 2);

                // let html = `<a id="detail-link${itemId}" class="text-link icon-link p-1" href="#" onclick="goToAction(${firstAction}, ${itemId});"><span style='color: var(--blue)'><i class='bi bi-chevron-right' style='font-size:12px;'></i></span></a>`;
                // container.html(html);
                // container.css({"padding-left": "1px", "padding-right": "1px" });
                // container.attr("id", `cell-link${itemId}`);
           
            $("<div>").dxDropDownButton({
                text: "",
                icon: "bi bi-chevron-right",
                stylingMode: "text",
                showArrowIcon: false,
                items: popupItems,
                elementAttr: { class: "no-border-button cell-link-button" },
                dropDownOptions: {
                    width: 140,
                    height: "auto",
                    shading: false
                },
                onItemClick: function (e) {
                    goToAction(e.itemData.id >= 2 ? e.itemData.id + 1 : firstAction, itemId);
                    // console.log(e.itemData.id, rowData);
                }
            }).appendTo(container);
            container.css({"padding": "1px" });

        }
    }

    function goToAction(action, itemId) {
        let link = (action == 1 ? "/receiving/new" : (action == 2 ? "/processing/new" : (action == 3 ? "/bill/new" : "/item"))) + "?item=" + itemId + "&itemGroup=" + itemGroupId + "&sourceurl=stock";
        location.href = link;
    }

    function addNewItem() {
        goToAction(4, 0);
    }

    function calculateCustomSummary(options) {
        // console.log(options);
        if (options.name === "ValueSummary") {
            if (options.summaryProcess === "start") {
                options.totalValue = 0;
            }
            if (options.summaryProcess === "calculate") {
                if (options.value.Lot == "") {
                    options.totalValue += options.value.Value;
                }
            }
            if (options.summaryProcess === "finalize") {
                //
            }
        }
    }
</script>