@page "/stockcard"
@using OcsStore.Models
@model OcsStore.Pages.StockCardModel
@{
    bool useLot = !string.IsNullOrEmpty(Model.Lot) && Model.Year > 0;
}
<style>
</style>

@(
Html.DevExtreme().DataGrid<StockCardView>()
    .ID("main-grid")
    .DataSource(d => d.Mvc().Controller("Stock").LoadAction("GetStockCard").LoadMethod("POST").Key("Id").LoadParams(new { ItemId = Model.ItemId, Lot = Model.Lot, Year = Model.Year }))
    .RemoteOperations(false)
    .ShowBorders(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .Sorting(s => s.Mode(GridSortingMode.None))
    .Paging(p => p.PageSize(100))
    .Pager(p => p.Visible(false))
    .OnContentReady("defaultOnGridContentReady")
    .Columns(columns =>
    {
        columns.AddFor(m => m.Date).Caption("Ngày").Width(80).Alignment(HorizontalAlignment.Center).Format("dd/MM/yyyy").CellTemplate(new JS("stockCellTemplate")).GroupIndex(0);
        columns.AddFor(m => m.Time).Caption("Giờ").Width(46).Alignment(HorizontalAlignment.Center).CellTemplate(new JS("stockCellTemplate"));
        columns.AddFor(m => m.Description).Caption("Mô tả").Width(80).Alignment(HorizontalAlignment.Left).CellTemplate(new JS("stockCellTemplate"));
        columns.AddFor(m => m.Lot).Caption("Lô").Width(46).Alignment(HorizontalAlignment.Center).CellTemplate(new JS("stockCellTemplate"));
        columns.AddFor(m => m.Quantity).Caption("Số lượng").Width(60).Alignment(HorizontalAlignment.Right).Format("#,##0.00").CellTemplate(new JS("stockCellTemplate"));
        columns.AddFor(m => m.Price).Caption("Giá").Width(64).Alignment(HorizontalAlignment.Right).Format("#,##0").CellTemplate(new JS("stockCellTemplate"));
        columns.Add().Caption("Tồn kho " + Model.Item.Name + " " + Model.Lot).Columns(cols =>
        {
            if (useLot)
            {
                cols.AddFor(m => m.LotSoh).Caption("SL tồn").Width(55).Alignment(HorizontalAlignment.Right).Format("#,##0.00").CellTemplate(new JS("stockCellTemplate"));
                cols.AddFor(m => m.LotAve).Caption("Giá TB").Width(64).Alignment(HorizontalAlignment.Right).Format("#,##0").CellTemplate(new JS("stockCellTemplate"));
                cols.AddFor(m => m.LotValue).Caption("Giá trị").Width(86).Alignment(HorizontalAlignment.Right).Format("#,##0").CellTemplate(new JS("stockCellTemplate"));
            }
            else
            {
                cols.AddFor(m => m.Soh).Caption("SL").Width(55).Alignment(HorizontalAlignment.Right).Format("#,##0.00").CellTemplate(new JS("stockCellTemplate"));
                cols.AddFor(m => m.Ave).Caption("Giá TB").Width(64).Alignment(HorizontalAlignment.Right).Format("#,##0").CellTemplate(new JS("stockCellTemplate"));
                cols.AddFor(m => m.Value).Caption("Giá trị").Width(86).Alignment(HorizontalAlignment.Right).Format("#,##0").CellTemplate(new JS("stockCellTemplate"));
            }
        });
    })
    .Editing(e => e.AllowUpdating(false))
    .Paging(p => p.Enabled(true).PageSize(100))
)

<script>
    pageTitle = "Thẻ kho @(Model.Item.Name) @(Model.Lot)";
    goBackUrl = "/stock";

    $(function () {
    });

    function stockCellTemplate(container, options) {
        let tranType = options.data.Type;
        let quantityOut = (options.data.Quantity < 0);
        let cssClass = (quantityOut ? "red" : "green");
        let text = options.text;
        if (options.column.dataField == "Quantity") {
            if (options.data.Quantity > 0)
                text = "+" + options.text;
        }
        let html = `<div class='${cssClass}'>${text}</div>`
        container.html(html);
    }
</script>