:root {
    --bs-body-color: black;
    --bs-font-sans-serif: Inter, Roboto, "Segoe UI", sans-serif /* , Arial, "Segoe UI", "Helvetica Neue" */;
    /* --common-color-main: #9f224e;
    --common-color-main-dark: #801B3E;
    --common-color-main-light: #CD2B64; */
    --red: #EE3333;
    --red-bg: #FFEEEE;
    --green: #20AE64;
    --dark-blue: #3562E3; /* #010125 */
    --blue: #005EE2;
    --brown: #C56722;
    --gray: #666;
    --common-color-main-dark: #000048; /* #010125 */
    --common-color-main: var(--blue); /* #0000BB */
    --common-color-main-light: #007EE2;
    --common-color-bg: #f2f4f6;

    font-family: var(--bs-font-sans-serif);
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, Roboto, sans-serif;
    }
}

/*:root {*/ /* old color --common-color-main-light: #265a87 */
    /*--common-color-main-lighter2: #1e2dbe;
    --common-color-main-lighter: #1e2dbe*/ /*#00b07e*/ /*rgba(0, 176, 126, 1.0)*//*;
    --common-color-main-light: #1e2dbe;
    --common-color-main: #1e2dbe;*/ /* = #2f5597 */ /*#00946a*/
    /*--common-color-main-dark: #230050;*/ /* = #002060 #008040 #005e44*/
    /*--common-color-main-darker: #230050*/ /*#004733*//*;
    --common-color-main-darker2: #230050*/ /*#004733*//*;
    --common-color-border-highlight: #1e2dbe;
    --common-color-text-highlight: #1e2dbe;
    --common-color-line-highlight: #1e2dbe;
    --common-color-secondary: #0cabba;
}*/


html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    font-size: 12px;
    background-color: var(--common-color-bg);
    /* font-family: Roboto, "Segoe UI", sans-serif */ /* , Arial, "Segoe UI", "Helvetica Neue" */
    ;
}

.dx-widget {
    font-family: var(--bs-font-sans-serif);
}

/* @@media (max-width: 1280px) {
    html {
        font-size: 13.6px;
    }
}

@@media (max-width: 1080px) {
    html {
        font-size: 13.6px;
    }
} */

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.red {
    color: var(--red);
}

.dark-red {
    color: #a51030;
}

.gold {
    color: #c57d05;
}

.dark-green {
    color: #0a452f;
}

.green {
    color: var(--green);
}

.green2 {
    color: #006b2d;
}

.blue {
    color: var(--blue); /* #0e1d80 *#0a1459*/
}

.dark-blue {
    color: var(--dark-blue);
}

.orange {
    color: #ffa624;
}

.brown {
    color: var(--brown);
}

.gray {
    color: #707780;
}

.font-weight-600 {
    font-weight: 600;
}

.font-size-large1 {
    font-size: 1.1rem;
}

.outside-border, .border-outside, .border-all {
    border: 1px solid #e4e3e5;
    /*border-radius: 4px;*/
}

.top-border, .border-top {
    border-top: 1px solid #e4e3e5;
}

.left-border, .border-left {
    border-left: 1px solid #e4e3e5;
}

.right-border, .border-right {
    border-right: 1px solid #e4e3e5;
}

.bottom-border, .border-bottom {
    border-bottom: 1px solid #e4e3e5;
}

#my-container {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
}

#top-bar {
    background-color: var(--common-color-main);
    height: 40px;
}

#page-title {
    font-weight: 600;
    font-size: 1.5rem;
}

#top-bar, #top-bar a {
    color: white;
    text-align: center;
}

#language-button .dx-button-mode-text .dx-icon {
    color: white;
}

#home-left-panel {
    position: fixed;
    top: 42px;
    left: 4px;
    width: 15rem;
    color: white;
    border-radius: 10px;
    border: solid 1px #6bf;
    overflow: hidden;
    /* border-right: 1px solid #f1f1f3; */
    background-color: var(--common-color-main);
    /*box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.4);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 500;
    bottom: auto;
    visibility: hidden;
}

#home-right-panel {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
}

a.menu-link, a.menu-link:hover, a.menu-link:active, a.menu-link:visited {
    color: inherit;
    text-decoration: none;
}

#home-left-panel a.menu-link:hover .home-left-item {
    background-color: #eee !important; /*#25547a*/
    color: var(--common-color-main) !important; /* #1e2dbe */
}

a.menu-link:not(:first-child) .home-left-item {
    border-top: solid 0.5px #ebf5fd;
}

#home-left-scrollview {
    margin: 0;
}

.home-left-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.home-left-item-text {
    margin-left: 0.3rem;
    padding: 0.3rem 0.3em 0.3rem 0.3rem;
    width: 18rem;
}

.item-active, #home-left-panel a.menu-link:hover .item-active {
    /* font-weight: 600; */
    background-color: #ebf5fd !important; /* #ebf5fd */
    color: var(--common-color-main) !important
}

a.text-link, a.text-link:active, a.text-link:hover {
    color: inherit;
}

a.text-link:active {
    text-decoration: none;
}

a.icon-link, a.icon-link:active, a.icon-link:hover, a.icon-link:hover {
    color: inherit;
    text-decoration: none;
}

#main-content {
    padding: 1rem 1rem;
}

#caption {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background-color: var(--common-color-main);
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 0.7rem;
    text-align: center;
    z-index: 99;
}

a.back-arrow, a.back-arrow:visited {
    color: #333;
    text-decoration: none;
    margin-right: 0.8rem;
}

a.back-arrow i {
    font-size: 1.4rem;
}

a.back-arrow .dx-icon-arrowleft::before {
    vertical-align: -2px;
}

#main-grid {
    margin-left: auto;
    margin-right: auto;
}

#menu-icon {
    position: fixed;
    left: 6px;
    top: 6px;
}

#go-back {
    position: fixed;
    left: 44px;
    top: 8px;
}

.data-field {
    margin-top: 10px;
}

.field-title {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.2rem;
}

.custom-selectbox-popup .dx-popup-content {
    padding-top: 2px;
}

.custom-textbox-wrapper {
    position: relative;
    display: inline-block; /* Or block, depending on your layout */
}

.custom-textbox-wrapper .textbox-suffix {
    position: absolute;
    right: 10px; /* Space from the right edge */
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Muted color for the suffix */
    pointer-events: none; /* Prevents text selection/blocking clicks */
}

.has-suffix {
    padding-right: 40px; /* Adjust based on the width of your suffix text */
    box-sizing: border-box;
}

.dx-datebox .dx-texteditor-input {
    text-align: center;
}

.align-right-numberbox .dx-texteditor-input {
    text-align: right;
}

.no-border-button {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
}

.cell-link-button .dx-icon {
    font-size: 12px;
    color: var(--blue);
}

.dot-symbol {
    font-family: Roboto, sans-serif;
}

.nav {
    --bs-nav-link-padding-x: 0.6rem;
    --bs-nav-link-padding-y: 0.3rem;
    background: white;
    padding: 3px;
    border-radius: 10px;
    font-size: 1.1rem;
}

a.nav-link, a.nav-link:hover, a.nav-link:visited {
    color: #666;
    text-decoration: none;
    border-radius: 10px;
}

a.nav-link.active {
    color: white !important;
    border-radius: 10px;
    background-color: var(--common-color-main);
}

i.bi.bi-trash {
    color: var(--red);
}
