.dx-button-mode-outlined.dx-button-default {
    border-color: var(--common-color-main);
    color: var(--common-color-main);
}

.dx-button-mode-outlined.dx-button-default .dx-icon {
    color: var(--common-color-main);
}

.dx-button-mode-contained.dx-button-default.dx-state-hover {
    background-color: var(--common-color-main-light);
}

.dx-button-mode-contained.dx-button-default.dx-state-active, .dx-button-mode-contained.dx-button-default.dx-state-focused {
    background-color: var(--common-color-main-dark);
}

.dx-radio-value-container {
    padding-right: 0.3rem;
}

.dx-radiogroup-horizontal .dx-radiobutton {
    margin-right: 1.5rem;
}

.dx-widget {
    font-size: 1rem;
}

.dx-datagrid .dx-row > td {
    padding: 0.5rem;
}

.dx-datagrid .dx-header-row > td {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.dx-datagrid-content .dx-overlay-wrapper.dx-invalid-message.dx-datagrid-invalid-message .dx-overlay-content,
.dx-datagrid-text-content,
.dx-datagrid-rowsview .dx-row > td,
.dx-datagrid-rowsview .dx-row > tr > td {
    overflow: visible;
    text-overflow: initial;
    word-wrap: break-word;
}

.dx-button-has-text .dx-button-content {
    padding: 0.4rem 0.35rem;
}

.dx-popup-content {
    padding: 20px;
}

.dx-button-has-text .dx-icon {
    margin-right: 6px;
    font-size: 12px;
}

.dx-datagrid-total-footer > .dx-datagrid-content {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.dx-datagrid-header-panel .dx-toolbar {
    margin-bottom: 0.1rem;
}

.dx-toolbar-text-auto-hide .dx-button .dx-button-content {
    padding: 0.3rem;
}

.dx-show-clear-button .dx-icon-clear {
    font-size: 1rem;
}

.dx-texteditor-input {
    padding: 0.5rem 0.6rem 0.6rem;
    font-size: 1rem;
}

.dx-button-mode-contained.dx-button-default, .dx-radiobutton-icon-checked .dx-radiobutton-icon-dot {
    background-color: var(--common-color-main);
}

.dx-button-mode-text.dx-button-default, .dx-button-mode-text.dx-button-default .dx-icon {
    color: var(--common-color-main);
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-expand {
    min-width: 0;
    width: 0;
}

.dx-datagrid-table .dx-row .dx-command-expand.dx-datagrid-group-space {
    padding-top: 6px;
}

.dx-datagrid-content .dx-datagrid-table .dx-group-cell {
    padding-left: 16px;
}

.dx-datagrid-content .dx-header-row, .dx-datagrid-rowsview .dx-row.dx-group-row:not(.dx-row-focused) {
    color: #666;
    background-color: #fafafa;
    /* font-size: 0.8rem; */
    font-weight: 400;
}

.dx-datagrid-content .dx-widget {
    font-size: 0.9rem;
}

.dx-datagrid-content .delete-button .dx-button-content {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.dx-datagrid-content .dx-button-content .dx-icon-trash {
    margin-right: 2px;
}


.dx-datagrid {
    border: none;
    background-color: transparent;
}

.dx-datagrid .dx-datagrid-headers {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: none;
    overflow: hidden;
}

.dx-datagrid .dx-datagrid-total-footer {
    border: none;
}

    .dx-datagrid .dx-datagrid-total-footer .dx-datagrid-content-fixed .dx-datagrid-table .dx-col-fixed {
        background-color: transparent;
    }

.dx-datagrid .dx-datagrid-rowsview {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    overflow: hidden;
    background-color: white;
}

.dx-datagrid-content .dx-datagrid-table .dx-row, .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child {
    border-left: none;
}

.dx-datagrid .dx-row td.dx-col-2-fixed {
    border-right: none;
}

.dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-rowsview .dx-header-row td.dx-pointer-events-none, .dx-datagrid .dx-datagrid-rowsview .dx-virtual-row td.dx-pointer-events-none {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.dx-datagrid-headers .dx-texteditor-input, .dx-datagrid-rowsview .dx-texteditor-input {
    padding: 3px 6px;
    min-height: 20px;
}

.dx-datagrid-focus-overlay {
    border: 2px solid var(--common-color-main) !important; /* Change to your preferred color */
}

.dx-lookup-arrow::before {
    content: "\f016";
    margin-top: -6px;
}

.dx-lookup-arrow {
    font: 14px/14px DXIcons;
}

.dx-placeholder {
    top: -2px;
}

.dx-dropdowneditor-icon::before {
    content: "\f016";
}

.dx-dropdowneditor-icon {
    font: 10px / 18px DXIcons;
}

#main-grid .dx-toolbar-items-container {
    display: none;
    z-index: 998;
}

#main-grid .dx-dropdownbutton-action.dx-button .dx-button-content {
    padding: 3px;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
    background-color: var(--blue);
}

.dx-dropdownbutton-popup-wrapper ::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.dx-dropdownbutton-popup-wrapper {
    scrollbar-width: none;
}

.dx-checkbox {
    padding: 4px 0;
}

.dx-checkbox-icon {
    width: 18px;
    height: 18px;
}

.dx-checkbox-checked .dx-checkbox-icon {
    font: 12px / 1em DXIcons;
    color: var(--blue);
    text-align: center;
}